.img-poster {
  height: 100px;
  width: 80px;
}

.icon-movie {
  font-size: 100px;
}

.list-item {
  border-radius: 5px;
  padding-top: 15px;
  margin-top: 10px;
}

.rating-icon {
  vertical-align: bottom;
}

.nominate-movie {
  text-align: center;
}
